{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static '/profiles/css/index.css' %}">
    <script type="module" src="{% static 'profiles/js/controls.js' %}"></script>
    <div id="profile-wrapper">
        <div id="profile-header">
            <div>
                <p>{{ object.user.username }}</p>
                {% if object.user.email %}
                    <p>{{ object.user.email }}</p>
                {% else %}
                    <p style="color: red">No email</p>

                {% endif %}
                <p>{{ object.profile_description }}</p>
            </div>
            <div id="update-meta">
                <a class="button" href="{% url 'profile-update' id=object.id %}">Update profile</a>
            </div>
        </div>
        <div id="counts">
            <div>{{ object.posts.count }} posts</div>
            <div>{{ object.comments_count }} comments</div>
            <div>{{ object.likes_count }} likes</div>
        </div>
        <div id="posts-tab" class="controls selected">My posts</div>
        <div id="list-tab" class="controls">Reading List</div>
        <div id="my-posts">
            {% if object.posts.all %}
                {% for post in object.posts.all %}
                    <p><a class="{% cycle 'even' 'odd' %}"
                          href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a>
                    </p>
                {% endfor %}
            {% else %}
                <h3>Posts may be on the approval process</h3>
            {% endif %}

        </div>
        <div id="list" class="hide">
            {% for post in object.user.reading_list.all %}
                <p><a class="{% cycle 'even' 'odd' %}"
                      href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a>
                </p>
            {% endfor %}
        </div>
    </div>
{% endblock %}