#post-wrapper > p {
    font-size: 2em;
    margin: 0;
}
#update-header{
    text-align: right;
}
#update-header img{
    width: 30px;
    height: 30px;
}
#update-header .dropdown-content{
    top: 2em;
    right: .5em;
}
.comment {
    padding: .5em 2em;
    margin: 0.3em 0 1em 2em;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(240, 240, 240);
}

#comment-area {
    margin-left: 2em;
}

#comment-area textarea {
    width: 100%;
    resize: none;
}

.user {
    font-size: 1em;
    color: dodgerblue;
    flex-grow: 3;
}

.comment-meta {
    margin: 1em 0;
}
.comment-meta div{
    display: inline-block;
    margin-right: 2em;
}

.comment-meta .right-meta {
    flex-grow: 7;
    text-align: right;
}

.report a {
    text-decoration: none;
    padding: .3em;
    color: red !important;
    width: auto;
}

.report a:hover {
    cursor: pointer;
}

#post-wrapper {
    padding: 0 2em;
}

.content, .comment-content {
    width: 100%;
}

.comment-content {
    word-wrap: break-word;
    padding: 1em;
    background-color: #fff;
}

.content {
    margin-top: 2em;
}

#comment-wrapper > p {
    padding: 0.5em;
    background-color: rgb(207, 213, 228);
}

#comment-wrapper {
    width: 100%;
}

#comment-wrapper .likes {
    color: #000 !important;
}

#post-wrapper > .likes {
    margin-top: 2em;
}

.likes button, #utils button, #update-header button{
    color: initial;
    border: none;
    background: none;
    position: relative;

}
#utils{

}
#utils form{
    display: inline-block;
}
.likes img, #utils img {
    height: 20px;
    width: 20px;
}

.likes span {
    position: absolute;
    bottom: 7px;
    left: 30px;
}

.likes button:focus {
    outline: 0;
}

