#post-wrapper > p{
    font-size: 2em;
    margin: 0;
}

.comment{
    padding: .5em;
    margin: 0.3em 0 1em 2em;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(240, 240, 240);
}
.comment-meta :not(.right-meta){
    font-size: 1em;
    color: dodgerblue;
    flex-grow: 3;
}
.comment-meta{
    display: flex;
    margin: 1em 0;
}
.comment-meta .right-meta{
    flex-grow: 7;
    text-align: right;
}
.report a{
    text-decoration: none;
    padding: .3em;
    color: red !important;
    width: auto;
}
.report a:hover{
   cursor: pointer;
}
#post-wrapper{
    padding: 0 2em;
}
.content, .comment-content{
    width: 100%;
}
.content{
    margin-top: 2em;
}
#comment-wrapper > p{
    padding: 0.5em;
    background-color: rgb(207, 213, 228);
}
#likes{
    flex-grow: 2;
    color: dodgerblue;
    margin-top: 2em;
}
