#posts-wrapper{
    width: 100%;
}
.post{
    width: 100%;
    height: auto;
    border-bottom: 0.5px dashed dodgerblue;
    padding-bottom: 10px;
}

.post a{
    display: block;
    text-decoration: none; font: menu;
    padding: 20px 0;
    width: 100%;
    color: inherit;
}

.post a:hover{
    color: dodgerblue !important;
}
.post a:visited{
    color: inherit;
}
