#posts-wrapper{
    width: 100%;
    margin-top: 2em;
}
.post{
    width: 100%;
    height: auto;
    padding: 10px;
    margin-bottom: 1em;
    -webkit-box-shadow: -2px 4px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 4px 15px -8px rgba(0,0,0,0.75);
    box-shadow: -2px 4px 15px -8px rgba(0,0,0,0.75);

}

.post-title a{
    display: block;
    text-decoration: none; font: menu;
    padding: 20px 0;
    width: 100%;
    font-size: 20px;
    color: inherit;
}

.post a:hover{
    color: dodgerblue !important;
}
.post a:visited{
    color: inherit;
}
