{% extends "base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
<div id="posts-wrapper">
    {% for post in object_list %}
    <div class="post">
        <div class="post-title">
        <a href="{{post.get_absolute_url}}">{{post.title}}</a>
        <div class="post-meta">
        <div class="meta-1">By {{post.user.username}}</div> -
        <div class="meta-2">{{post.likes}} likes</div></div>
        </div>
        
    </div>
    {% endfor %}
</div>

{% endblock %}