{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title%}Blogging data{% endblock %}</title>
</head>

<body>
    <div class="wrapper">
        <header>
            <div id="title">Blogging Data</div>
            <div id="button-wrapper" ><button>Login</button></div>
        </header>
        <nav>
            <div>Home</div>
            <div>Most Pupular</div>
            <div>About</div>
        </nav>
        <main class="content">
            {% block content %}{% endblock %}
        </main>
    </div>

</body>

</html>